[project]
	description = Docker registry v2 command line client.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yves Brissaud (eunomie)
[access "refs/for/refs/*"]
	read = group user/Yves Brissaud (eunomie)
	push = group user/Yves Brissaud (eunomie)
	label-Code-Review = -2..+2 group user/Yves Brissaud (eunomie)
	label-Verified = -1..+1 group user/Yves Brissaud (eunomie)
	rebase = group user/Yves Brissaud (eunomie)
	removeReviewer = group user/Yves Brissaud (eunomie)
	submit = group user/Yves Brissaud (eunomie)
[access "refs/heads/*"]
	read = group user/Yves Brissaud (eunomie)
	create = group user/Yves Brissaud (eunomie)
	push = +force group user/Yves Brissaud (eunomie)
	pushMerge = group user/Yves Brissaud (eunomie)
[access "refs/tags/*"]
	push = group user/Yves Brissaud (eunomie)
	push = +force group user/Yves Brissaud (eunomie)
